URxvt*scrollBar: false
URxvt*depth: 32
URxvt*termName: rxvt-unicode-256color
URxvt.foreground: gray
URxvt.cursorColor: gray
URxvt.background: [75]#02020f
URxvt.font:xft:Terminus:pixelsize=32

! Disable ISO Mode
URxvt.iso14755: false
URxvt.iso14755_52: false

! Cursor
URxvt.cursorBlink: true

! Scrolling
URxvt*scrollTtyOutput:      false
URxvt*scrollWithBuffer:     true

! Keymaps
URxvt.keysym.Meta-c: make clean\n
URxvt.keysym.Meta-m: make\n
URxvt.keysym.Meta-r: make release\n
URxvt.keysym.Meta-d: make debug\n

URxvt.keysym.Meta-t: clear && ls -l && clear && tree\n
URxvt.keysym.Meta-l: clear && ls -l\n
URxvt.keysym.Meta-p: v .\n
URxvt.keysym.Meta-h: cd\n

! Copying And Pasting
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
! Disable Copying And Pasting With Meta
URxvt.keysym.Control-Meta-c: builtin-string:
URxvt.keysym.Control-Meta-v: builtin-string:

! Special
*.foreground:   #06f72e
*.background:   #020d0f
*.cursorColor:  #06f72e

! Black
*.color0:       #002b36
*.color8:       #657b83

! Red
*.color1:       #dc322f
*.color9:       #dc322f

! Green
*.color2:       #859900
*.color10:      #859900

! Yellow
*.color3:       #b58900
*.color11:      #b58900

! Blue
*.color4:       #268bd2
*.color12:      #268bd2

! Magenta
*.color5:       #6c71c4
*.color13:      #6c71c4

! Cyan
*.color6:       #2aa198
*.color14:      #2aa198

! White
*.color7:       #93a1a1
*.color15:      #fdf6e3
